##################
# Ignore please! #
##################

.sass-cache/*
docs/.sass-cache/*
sample/
tmp/
backup*/
stylesheets/
_site/
branches/

*.Cache

docs/config.rb
Thumbs.db
Desktop.ini
.DS_Store
*.tmp
