<div id="getting-started-docs" class="doc-box">
	<div class="row poi-teaser">
		<div class="col small-12">
			<h1>Getting started</h1>
			<h3 class="subheader">Whether you are using SCSS or CSS, we've made it easy to start a project so that you can help take over the world one responsive site at a time.</h3>
			<p>CCSandbox is developed in Sass, which is powerful CSS pre-processor that helps you write cleaner, more organized, CSS that you can more easily maintain over time without the typical headaches of vanilla CSS. On top of our minimal styling, we've written powerful Javascript plugins that will make useful interactions easier to implement across screen sizes.</p>

			<h2 class="orange">What comes with CSSandbox?</h2>
			<p>We've got you covered when it comes to useful features and we've made it easy to take out what you don't need. Here's what you'll get when you create a project using our Sass version or the default CSS version:</p>
		</div>
	</div>
	<div class="row poi">
		<div class="col small-12 medium-4">
			<h3><a href="#">Grid</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3><a href="#">Navigation</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3><a href="#">Typography</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3><a href="#">Buttons</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3><a href="#">Forms</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3><a href="#">Iconic</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3><a href="#">Javascript</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3><a href="#">Functions</a></h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
	</div>
	<div class="row structure-header">
		<div class="col small-12">
			<h3 class="gray">So.. what files comes with it?</h3>
			Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.
		</div>
	</div>
	<div class="row structure">
		<div class="col small-12 medium-4">
			<h3>Javascripts</h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3>SCSS</h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
		<div class="col small-12 medium-4">
			<h3>Stylesheets</h3>
			Donec sed odio dui. Nulla vitae elit libero, a 
			pharetra augue. Nullam id dolor id nibh
			ultricies vehicula ut id elit. Integer posuere 
			erat a ante venenatis dapibus posuere velit 
			aliquet.
		</div>
	</div>
</div>