//
//  Version 0.0.4
//  Read the docs for more information howto use

// Button variables for standard button
$button-border-radius: 		5px !default;
$button-border:				none !default;
$button-background:			#ff2f19 !default;
$button-disabled:			#c1c1c1 !default;
$button-color:				#ffffff !default;
$button-font-size:			em(16px) !default;
$button-font-weight:		600 !default;

@mixin button($border: $button-border, $border-radius: $button-border-radius, $font-size: $button-font-size, 
	$font-weight: $button-font-weight, $background: $button-background, $text-color: $button-color, 
	$height: 30px, $left-right-padding: 10px) {

	@include button-size($height, $font-size, $left-right-padding);

	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
	border: $border;
	background: $background;
	color: $text-color;
	width: auto;
	display: inline-block;
	font-weight: $font-weight;
	&:hover {
		background: darken($button-background, 9%);
	}
	@include transition(background-color, 200ms, linear);
}

@mixin button-size($height, $font-size: $button-font-size, $left-right-padding: 10px) {
	min-height: $height;
	line-height: $height;
	padding: 0 $left-right-padding;
	font-size: $font-size;
}

.button,
input[type="button"] {

	@include button($border: $button-border, $border-radius: $button-border-radius, 
		$font-size: $button-font-size, $font-weight: $button-font-weight, $background: $button-background, 
		$text-color: $button-color, $height: rem(40px), $left-right-padding: rem(10px) );

	// Button sizes
	&.small {
		@include button-size($height: rem(30px), $font-size: rem(12px), $left-right-padding: rem(10px));
	};
	&.medium {
		@include button-size($height: rem(40px), $font-size: rem(14px), $left-right-padding: rem(20px));
	};
	&.large {		
		@include button-size($height: rem(50px), $font-size: rem(16px), $left-right-padding: rem(30px));
	};
	&.fluid { 
		text-align: center;
		width: 100%; 
	};

	// Button color classes
	&.disable {
		background: #bdbbb7;
		opacity: 0.6;
	}
	&.warning {
		background: #ffbf11;
		color: #8f6f19;
		&:hover {
			background: darken(#ffbf11, 9%);
			color: darken(#8f6f19, 9%);
		}
	};
	&.info {
		background: #2489c5;
		&:hover {
			background: darken(#2489c5, 9%);
		}
	}
	&.success {
		background: #00cc82;
		&:hover {
			background: darken(#00cc82, 9%);
		}
	}
	&.inverse {
		background: #232323;
		color: #ebebeb;
		&:hover {
			background: darken(#232323, 9%);
			color: lighten(#ebebeb, 9%);
		}
	}
	&.alert {
		background: #ff0000;
		&:hover {
			background: darken(#ff0000, 9%);
		}
	}
}
