//
//  Version 0.0.8
//  Read the docs for more information howto use

// Border styles
$button-border-radius: 		5px !default;
$button-border:				none !default;

// ** Coloring
$button-background:			#ff2f19 !default;
$button-color:				#ffffff !default;
$button-disabled:			#c1c1c1 !default;

// ** Typography
$button-font-size:			em(16px) !default;
$button-font-weight:		600 !default;


// Button mixins
// Generate button
@mixin button($border: $button-border, $border-radius: $button-border-radius, $font-size: $button-font-size, 
	$font-weight: $button-font-weight, $background: $button-background, $text-color: $button-color, 
	$height: 30px, $left-right-padding: 10px, $width: auto) {

	@include button-size($height, $font-size, $left-right-padding, $width);
	@include button-color($background: $background, $color: $text-color, $darken-text: false);

	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
	border: $border;
	background: $background;
	display: inline-block;
	font-weight: $font-weight;
	text-align: center;
	&,
	a {
		text-decoration: none !important;
	}
	@include transition(background-color, 200ms, linear);
}

// Generate button size
@mixin button-size($height, $font-size: $button-font-size, $left-right-padding: 10px, $width: auto) {
	width: $width;
	min-height: $height;
	line-height: $height;
	padding: 0 $left-right-padding;
	font-size: $font-size;
	a {
		margin: 0 #{-$left-right-padding};
		padding: 0 $left-right-padding;
		display: block;
		width: auto;
		height: 100%;
	}
}

// Generate button color
@mixin button-color($background: $button-background, $color: $button-color, $darken-text: true) {
	background: $background;
	color: $color;
	&, a {
		color: $color;
	}
	a {
		&:hover {
			@if $darken-text == true { 
				color: darken($color, 9%);
			}
		}
	}
	&:hover {
		background: darken($background, 9%);
		@if $darken-text == true { 
			color: darken($color, 9%);
		}
	}
}

/* ==========================================================================
   Button styles
   ========================================================================== */

.button,
input[type="button"] {

	@include button($border: $button-border, $border-radius: $button-border-radius, 
		$font-size: $button-font-size, $font-weight: $button-font-weight, $background: $button-background, 
		$text-color: $button-color, $height: rem(40px), $left-right-padding: rem(10px) );

	// Button sizes
	&.small {
		@include button-size($height: rem(30px), $font-size: rem(12px), $left-right-padding: rem(10px));
	}
	&.medium {
		@include button-size($height: rem(40px), $font-size: rem(14px), $left-right-padding: rem(20px));
	}
	&.large {		
		@include button-size($height: rem(50px), $font-size: rem(16px), $left-right-padding: rem(30px));
	}
	&.fluid { 
		@include button-size($height: rem(45px), $font-size: rem(18px), $left-right-padding: rem(30px), $width: 100%);
	}

	// Making buttons with icons
	& > [class*="iconic-"] {
		line-height: inherit !important;
	}

	/* ==========================================================================
	   Button color classes
	   ========================================================================== */

	&.disable {
		&,
		& > a {
			background: #bdbbb7;
			pointer-events: none; /* Does not Work in IE, to disable links in IE 
									 or older browsers use Javascript */
			opacity: 0.6;
			cursor: default;
		}
	}
	&.warning {
		@include button-color($background: #ffbf11, $color: #8f6f19, $darken-text: true);
	}
	&.info {
		@include button-color($background: #2489c5, $darken-text: false);
	}
	&.success {
		@include button-color($background: #00cc82, $darken-text: false);
	}
	&.inverse {
		@include button-color($background: #232323, $color: #ebebeb, $darken-text: true);
	}
	&.alert {
		@include button-color($background: #ff0000, $darken-text: false);
	}
}
