//
// Version 0.0.8
// Read the docs for more information howto use

// Calulations in pixels insted of em/rem
// Options: True, False, Both
// If you chose to use em/rem as intended, please note that rem doesn't work in IE8
// This can be fixed by using the variable both (will make rem calulations in pixels insted)
$pixels:				false !default;

// Change the font-size of the project
// This project uses em/rem, so please be carefull with your font-sizes in your own css
$font-size:				16px !default;

// The main color used in this project
// Will be used as link color and other stuff as default
// Settings other color variables (For the "section") will overwrite this color
$master-color:			#ff2f19 !default;
$master-base-color:		#555555 !default;


// From pixels to em
@function em($px) {
	@if $pixels == true { 
		@return $px;
	} @else if $pixels == false {
		@return $px / $font-size * 1em;
	} @else if $pixels == both {
		@return $px / $font-size * 1em;
	}
}

// From pixels to rem
@function rem($px) {
	@if $pixels == true { 
		@return $px;
	} @else if $pixels == false {
		@return $px / $font-size * 1rem;
	} @else if $pixels == both {
		@return $px;
	}
}

// Global mixins
@mixin transition($property, $time: 200ms, $type: linear) {
	-webkit-transition: $property $time $type;
	-moz-transition: $property $time $type;
	-ms-transition: $property $time $type;
	-o-transition: $property $time $type;
	transition: $property $time $type;
	&.noTransition {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: all 0 none;
		transition: none;
	}
}

//
// Output begins

/* ==========================================================================
   CSSandbox version 0.0.7
   http://www.thepixelsandbox.com
   MIT License
   ========================================================================== */
