// Global styles and variables
$version: 0.0.2;

// Change the font-size of the project
// This project uses em/rem, so please be carefull with your font-sizes in your own css
$font-size: 16px !default;

// Global Line-height
$line-height: 140% !default;

// ** Calulations in pixels insted of em/rem
// ** Options: True, False, Both
// ** If you chose to use em/rem as intended, please note that rem doesn't work in IE8
// ** This can be fixed by using the variable both (will make rem calulations in pixels insted)
$pixels: false !default;

// ** Use google webfonts - Default Open Sans
// ** If you want to disable webfonts, use the value false
$webfont: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300";

// ** Global style variables
$body-background: #ffffff !default;
$body-font-color: #555555 !default;
$body-font-family: "Open Sans", Arial, sans-serif !default;
$body-font-weight: 400 !default;
$body-font-style: normal !default;