//
// Version 0.0.9
// Read the docs for more information howto use

// Global Line-height
$line-height: 150% !default;

// Use google webfonts - Default Open Sans
// If you want to disable webfonts, use the value false
$webfont: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300";

// Import webfonts
@if $webfont != false { @import url($webfont); }

// Global style variables
$body-background: #ffffff !default;
$body-font-color: $master-base-color !default;
$body-font-family: "Open Sans", Arial, sans-serif !default;
$body-font-weight: 400 !default;
$body-font-style: normal !default;


/* ==========================================================================
   CSSandbox styles from now on

   Global styles
   ========================================================================== */

// Styling the global variables
body {
	background: $body-background;
	color: $body-font-color;
	font-family: $body-font-family;
	font-size: $font-size;
	font-weight: $body-font-weight;
	font-style: $body-font-style;
	line-height: $line-height;
}

*, 
*:before, 
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

// NoTranstions class to overwrite transition
.noTransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: all 0 none !important;
	transition: none !important;
}

// Preload class for body-load to fix transitions
body.preload * {
	@extend .noTransition;
}