//
// Version 0.0.7
// Read the docs for more information howto use
// See the docs on how to make your own breakpoints

$small-max-width: 		auto !default;
$medium-max-width: 		auto !default;
$large-max-width: 		auto !default;
$big-max-width: 		1280px !default;

// Number of columns and space between
$grid-collumns: 		12 !default;
$grid-gutter: 			em(20px) !default;

// Grid breakpoints
$small-break: 			em(480px) !default;
$medium-break: 			em(768px) !default;
$large-break: 			em(960px) !default;
$big-break: 			em(1280px) !default;

// Default float
$grid-float: 			left !default;

// Offset from left/right
$offset-direction: 		left !default;

//Find the opposite to default float
$grid-opposite: "";
@if ($grid-float != left) { $grid-opposite: left; } @else { $grid-opposite: right; }

// Querys
$screen: "only screen";
$small: "only screen and (min-width:"#{$small-break}")";
$medium: "only screen and (min-width:"#{$medium-break}")";
$large: "only screen and (min-width:"#{$large-break}")";
$big: "only screen and (min-width:"#{$big-break}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)"; 

// Grid calulation width
@function gridCalculator($colNumber, $totalColumns) {
	@return percentage(($colNumber / $totalColumns));
}

// Generate breakpoint classes
@mixin break-point($name, $max-width) {
	.row { max-width: $max-width; }
	@for $i from 1 through $grid-collumns {
		.#{$name}#{-$i} { width: gridCalculator($i, $grid-collumns) }
		.#{$name}-offset#{-$i} { margin-#{$offset-direction}: gridCalculator($i, $grid-collumns) }
	}
}

/* ==========================================================================
   Grid styles
   ========================================================================== */

@media #{$screen} {

	@include break-point($name: "small", $max-width: $small-max-width);

	.col {
		@include transition($property: width, $time: 200ms, $type: linear);
		float: #{$grid-float};
		padding-left: $grid-gutter / 2;
		padding-right: $grid-gutter / 2;
		&.last {
			float: #{$grid-opposite};
		}
	}

	.row {
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		width: 100%;
		clear: both;
		&:after {
			clear: both;
		}
		.row {
			margin: 0 #{-$grid-gutter / 2};
			max-width: none;
			width: auto;
		}
	}
}

/* ==========================================================================
   Medium breakpoint
   ========================================================================== */
@media #{$medium} {
	@include break-point($name: "medium", $max-width: $medium-max-width);
}

/* ==========================================================================
   Large breakpoint
   ========================================================================== */
@media #{$large} {
	@include break-point($name: "large", $max-width: $large-max-width);
}

/* ==========================================================================
   Big breakpoint
   ========================================================================== */
@media #{$big} {
	@include break-point($name: "big", $max-width: $big-max-width);
}
