//
// Version 1.0.0 Alpha
// This is submitted as "final", and will most licky now recive major corrections

// Read the docs for more information howto use
// See the docs on how to make your own breakpoints

$small-max-width: 		none !default;
$medium-max-width: 		none !default;
$large-max-width: 		none !default;
$big-max-width: 		1280px !default;
$huge-max-width: 		1280px !default;

// Number of columns, space between and position
$grid-collumns: 		12 !default;
$grid-gutter: 			em(20px) !default;
$grid-float:			center !default;

// Grid breakpoints
$medium-min-width: 		em(480px) !default;
$large-min-width: 		em(768px) !default;
$big-min-width: 		em(960px) !default;
$huge-min-width:		em(1280px) !default;

// Default float
$grid-col-float: 		left !default;

// Offset from left/right
$offset-direction: 		left !default;

// Find the opposite to default float
$grid-opposite: opposite-position($offset-direction);

// Querys
$screen: "only screen";
$medium: "only screen and (min-width:"#{$medium-min-width}")";
$large: "only screen and (min-width:"#{$large-min-width}")";
$big: "only screen and (min-width:"#{$big-min-width}")";
$huge: "only screen and (min-width:"#{$huge-min-width}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)"; 

// Grid calulation width
@function gridCalculator($colNumber, $totalColumns) {
	@return percentage(($colNumber / $totalColumns));
}

// Generate breakpoint classes
@mixin break-point($name, $max-width) {
	.row { max-width: $max-width; }
	@for $i from 1 through $grid-collumns {
		.#{$name}#{-$i} { width: gridCalculator($i, $grid-collumns) }
		.#{$name}-offset#{-$i} { margin-#{$offset-direction}: gridCalculator($i, $grid-collumns) }
	}
}

/* ==========================================================================
   Grid styles
   ========================================================================== */

@media #{$screen} {

	.col {
		@include transition($property: width, $time: 200ms, $type: linear);
		float: #{$grid-col-float};
		padding-left: $grid-gutter / 2;
		padding-right: $grid-gutter / 2;
		&.last {
			float: #{$grid-opposite};
		}
	}

	.row {
		@if $grid-float == center { 
			margin: 0 auto;
		} @else if $grid-float == right {
			float: right;
		}
		position: relative;
		max-width: 100%;
		width: 100%;
		&:after {
			clear: both;
		}
		&:after, &:before {
			content: " ";
			display: table;
		}
		.row {
			margin: 0 #{-$grid-gutter / 2};
			max-width: none;
			width: auto;
		}
	}

	/* ==========================================================================
	   Small breakpoint
	   ========================================================================== */

	@include break-point($name: "small", $max-width: $small-max-width);

}

/* ==========================================================================
   Medium breakpoint
   ========================================================================== */
@media #{$medium} {
	@include break-point($name: "medium", $max-width: $medium-max-width);
}

/* ==========================================================================
   Large breakpoint
   ========================================================================== */
@media #{$large} {
	@include break-point($name: "large", $max-width: $large-max-width);
}

/* ==========================================================================
   Big breakpoint
   ========================================================================== */
@media #{$big} {
	@include break-point($name: "big", $max-width: $big-max-width);
}

/* ==========================================================================
   Huge breakpoint
   ========================================================================== */
@media #{$huge} {
	@include break-point($name: "big", $max-width: $huge-max-width);
}