//
// Version 0.0.1
// Read the docs for more information howto use
// See the docs on how to make your own breakpoints

$micro-max-width: auto !default;
$small-max-width: auto !default;
$medium-max-width: auto !default;
$small-desktop-max-width: auto !default;
$large-desktop-max-width: 1280px; !default;

// Number of columns and space between
$grid-collumns: 12;
$grid-gutter: em(20px);

// Grid breakpoints
$micro: em(0px) !default;
$small: em(480px) !default;
$medium: em(768px) !default;
$small-desktop: em(960px) !default;
$large-desktop: em(1280px) !default;

