//
//  Version 0.2.0
//  Read the docs for more information howto use

// Global
$table-padding:					em(10px) !default;
$table-font-size:				1em !default;

// Table header
$table-head-background:			#F1F1F1 !default;
$table-head-weight:				$headings-font-weight !default;
$table-head-align:				center !default;

// Table cell
$table-cell-align:				center !default;
$table-cell-background:			transparent !default;
$table-cell-odd-background:		transparent !default;
$table-cell-even-background:	#F9F9F9 !default;

// Table footer
$table-foot-background:			transparent !default;
$table-foot-align:				center !default;

// Border
$table-border:					1px solid #ccc !default;
$table-cell-border-top:			none !default;
$table-cell-border-right:		none !default;
$table-cell-border-bottom:		1px solid #ccc !default;
$table-cell-border-left:		none !default;


/* ==========================================================================
   Table styles
   ========================================================================== */

// Traditionals tables
// Tabular data
table {
	border: $table-border;
	width: 100%;
	&.fixed {
		width: auto;
	}
	thead {
		tr {
			background: $table-head-background;
			th {
				text-align: $table-head-align;
				font-weight: $table-head-weight;
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: $table-cell-align;
				background: $table-cell-background;
			}
			&:nth-child(even) {
				background: $table-cell-even-background;
			}
			&:nth-child(odd) {
				background: $table-cell-odd-background;
			}
		}
	}
	tfoot {
		tr {
			td {
				text-align: $table-foot-align;
				background: $table-foot-background;
			}
		}
	}
	td, th {
		font-size: $table-font-size;
		padding: $table-padding;
		border-top: $table-cell-border-top;
		border-right: $table-cell-border-right;
		border-bottom: $table-cell-border-bottom;
		border-left: $table-cell-border-left;
	}
}

// Div tables
// Use for none tabular data but table behavior
.table {
	width: 100%;
	height: auto;
	display: table;
	border: $table-border;
	.tr {
		display: table-row;
		.td {
			display: table-cell;
			text-align: $table-cell-align;
			padding: $table-padding;
			border-top: $table-cell-border-top;
			border-right: $table-cell-border-right;
			border-bottom: $table-cell-border-bottom;
			border-left: $table-cell-border-left;
		}
		&:nth-child(even) {
			background: $table-cell-even-background;
		}
		&:nth-child(odd) {
			background: $table-cell-odd-background;
		}
		&.header {
			background: $table-head-background;
			font-weight: $table-head-weight;
			td {
				text-align: $table-head-align;
			}
		}
	}
}
