//
//  Version 0.0.8
//  Read the docs for more information howto use

// List style variables
$list-font-weight: 		bold !default;
$list-text-align: 		left !default;
$list-font-size: 		inherit !default;
$list-style-type: 		disc !default;

// Link variabels
$link-color:			$master-base-color !default;
$link-active-color:		$master-color !default;
$link-decoration:		underline !default;


/* ==========================================================================
   Typography
   ========================================================================== */

// Designing lists
ul {
	li {
		font-weight: $list-font-weight;
		text-align: $list-text-align;
		font-size: $list-font-size;
		list-style-type: $list-style-type;
	}
}

// Designing links
a {
	color: $link-color;
	text-decoration: $link-decoration;
	
	&:visited {
		color: $link-color;
	}
	&.active {
		color: $link-active-color;
	}
	&:hover,
	&:focus {
		color: $link-active-color;
	}

	@include transition(color, 200ms, ease-in);

}
