//
//  Version 0.0.10
//  Read the docs for more information howto use

// Link variabels
$link-color:				$master-base-color !default;
$link-active-color:			$master-color !default;
$link-decoration:			underline !default;

// List style variables
$list-font-weight: 			600 !default;
$list-text-align: 			left !default;
$list-font-size: 			inherit !default;
$list-style-type: 			disc !default;
$list-margin:				0.5em 0 0.95em 1.45em !default;

// Inline list style variabels
$inline-list-margin:		0 0 1em 0 !default;
$inline-list-item-margin:	0 em(10px) 0 0 !default;
$inline-list-color:			inherit !default;
$inline-list-link-color:	$link-color !default;
$inline-list-font-size:		1em !default;
$inline-list-font-weight:	600 !default;

// Headline variabels
$headings-color:			#282828 !default;
$headings-font-weight:		600 !default;
$headings-margin:			0.20em 0 0.85em 0 !default;

// ** Headline font-sizes
$h1-font-size: 				2.5em !default;
$h2-font-size: 				2.0em !default;
$h3-font-size: 				1.75em !default;
$h4-font-size: 				1.25em !default;
$h5-font-size: 				1em !default;
$h6-font-size: 				0.85em !default;

// Paragraphs
$paragraph-font-size: 		1em !default;
$paragraph-font-weight: 	400 !default;
$paragraph-color: 			inherit !default;
$paragraph-margin: 			0.10em 0 1.3em 0 !default;


/* ==========================================================================
   Typography
   ========================================================================== */

// Designing lists
@mixin inline-list($margin: $inline-list-margin, $item-margin: $inline-list-item-margin, $color: $inline-list-color, 
				   $font-size: $inline-list-font-size, $link-color: $inline-list-link-color, $font-weight: $inline-list-font-weight) {
	margin: $margin;
	li {
		list-style-type: none;
		margin: $item-margin;
		display: inline-block;
		font-size: $font-size;
		font-weight: $font-weight;
		color: $color;
		a {
			color: $link-color;
			text-decoration: none;
			&:hover {
				color: lighten($link-color, 20%);
			}
		}
	}
}

ul {
	margin: $list-margin;
	padding: 0;

	li {
		font-weight: $list-font-weight;
		text-align: $list-text-align;
		font-size: $list-font-size;
		list-style-type: $list-style-type;
	}
	&.inline {
		@include inline-list($inline-list-margin, $inline-list-item-margin, $inline-list-color, $inline-list-font-size, $inline-list-link-color, $inline-list-font-weight);
	}
}

// Designing links
a {
	color: $link-color;
	text-decoration: $link-decoration;
	
	&:visited {
		color: $link-color;
	}
	&.active {
		color: $link-active-color;
	}
	&:hover,
	&:focus {
		color: $link-active-color;
	}

	@include transition(color, 200ms, ease-in);

}

// Paragraph
p {
	margin: $paragraph-margin;
	font-size: $paragraph-font-size;
	font-weight: $paragraph-font-weight;
	color: $paragraph-color;
}

// Headlines
h1, h2, h3, h4, h5, h6 {
	color: $headings-color;
	margin: $headings-margin;
	line-height: 1.1em;
	font-weight: $headings-font-weight;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }