//
//  Version 0.0.12
//  Read the docs for more information howto use


/* ==========================================================================
   Visibility
   ========================================================================== */

// Overwrite the users none important styles
.show-small,
.show-medium,
.show-large,
.show-big {
	display: none !important;
}

.hide-small,
.hide-medium,
.hide-large,
.hide-big {
	display: none !important;
}

.show-small-up,
.show-medium-up,
.show-large-up {
	display: none !important;
}

.hide-medium-down,
.hide-large-down {
	display: none !important;
}

// Small visibility breakpoint
@media #{$small} {
	
}

// Medium visibility breakpoint
@media #{$medium} {
	
}

// Large visibility breakpoint
@media #{$large} {
	
}

// Big visibility breakpoint
@media #{$big} {
	
}
