//
//  Version 0.2.0
//  Read the docs for more information howto use

/* ==========================================================================
   Visibility
   ========================================================================== */

// Overwrite the users none important styles
.show-small,
.show-medium,
.show-large,
.show-big {
	display: none !important;
}

.hide-small,
.hide-medium,
.hide-large,
.hide-big {
	display: inherit !important;
}

.show-small-up,
.show-medium-up,
.show-large-up {
	display: none !important;
}

.hide-medium-down,
.hide-large-down {
	display: none !important;
}

.show-landscape,
.show-portrait {
	display: none !important;
}

.hide-landscape,
.hide-portrait {
	display: none !important;
}

// Playing with tables
table {
	&.show-small,
	&.show-medium-down,
	&.show-large-down,
	&.hide-small,
	&.hide-medium,
	&.hide-medium-up,
	&.hide-large,
	&.hide-large-up,
	&.hide-big { display: table; }
}
thead {
	&.show-small,
	&.show-medium-down,
	&.show-large-down,
	&.hide-small,
	&.hide-medium,
	&.hide-medium-up,
	&.hide-large,
	&.hide-large-up,
	&.hide-big { 
		display: table-header-group !important; 
	}
}
tbody {
	&.show-small,
	&.show-medium-down,
	&.show-large-down,
	&.hide-small,
	&.hide-medium,
	&.hide-medium-up,
	&.hide-large,
	&.hide-large-up,
	&.hide-big { 
		display: table-row-group !important; 
	}
}
tr {
	&.show-small,
	&.show-medium-down,
	&.show-large-down,
	&.hide-small,
	&.hide-medium,
	&.hide-medium-up,
	&.hide-large,
	&.hide-large-up,
	&.hide-big { 
		display: table-row !important; 
	}
}
td, 
th {
	&.show-small,
	&.show-medium-down,
	&.show-large-down,
	&.hide-small,
	&.hide-medium,
	&.hide-medium-up,
	&.hide-large,
	&.hide-large-up,
	&.hide-big { 
		display: table-cell !important; 
	}
}

// Small visibility breakpoint
@media #{$screen} {
	.show-small,
	.show-small-up { 
		display: inherit !important;
		&.inline {
			display: inline !important;
		}
	}
	.hide-medium,
	.hide-large,
	.hide-big {
		display: inherit !important;
	}
	.hide-small { 
		display: none !important; 
	}
}

// Medium visibility breakpoint
@media #{$medium} {
	.show-medium,
	.show-small-up,
	.show-medium-up { 
		display: inherit !important; 
		&.inline {
			display: inline !important;
		}
	}
	.hide-small {
		display: inherit !important;
	}
	.hide-medium { 
		display: none !important;
	}
}

// Large visibility breakpoint
@media #{$large} {
	.show-large,
	.show-small-up,
	.show-medium-up,
	.show-large-up { 
		display: inherit !important;
		&.inline {
			display: inline !important;
		}
	}
	.hide-medium {
		display: inherit !important;
	}
	.hide-large { 
		display: none !important;
	}
}

// Big visibility breakpoint
@media #{$big} {
	.show-big,
	.show-small-up,
	.show-medium-up, 
	.show-large-up { 
		display: inherit !important; 
		&.inline {
			display: inline !important;
		}
	}
	.hide-large {
		display: inherit !important;
	}
	.hide-big { 
		display: none !important;
	}
}

// Landscape
@media #{$landscape} {
	.show-landscape {
		display: inherit !important;
	}
}

// Portrait
@media #{$portrait} {
	.show-portrait {
		display: inherit !important;
	}
}
