// Use this stylesheet to your custom codes.
// Remember to import _settings.scss
@import "_settings.scss"; 

// Feel free to pull out files you dont need
// It's not recommended to out comment normalize and global
@import
  "../scss/cssandbox/normalize",
  "../scss/cssandbox/global", 
  "../scss/cssandbox/grids",
  "../scss/cssandbox/icon-fonts",
  "../scss/cssandbox/typography",
  "../scss/cssandbox/forms",
  "../scss/cssandbox/top-nav",
  "../scss/cssandbox/side-nav",
  "../scss/cssandbox/buttons",
  "../scss/cssandbox/tabels"; 

// Custom stylesheet

html,
body {
	height: 100%;
}

@media #{$screen} {

	.sidebar {
		&.menu {
			height: 100%;
			width: em(50px);
			color: #fff;
			background: #1d1d1d url("../images/bg_leftnav.png") repeat-y 100% 100%;
			overflow: auto;
			& > .inlinemenu-wrapper {
				display: none;


				h1 {
					font-size: em(28px);
					border-bottom: 1px solid #292929;
					padding: rem(45px) 0 rem(35px) rem(25px);
					margin: 0 0 rem(30px) 0;
					& > a {
						color: #fff;
						text-decoration: none;
						&:hover {
							color: #ff2f19;
						}
					}
				}

				ul {
					padding: 0 0 0 em(25px);
					margin: 0;
					& > li {
						font-weight: 300;
						font-size: em(16px);
						list-style: none;
						margin: 0 0 em(6px) 0;
						& > a {
							@include transition($property: all, $time: 200ms, $type: ease-out);
							color: #fff;
							text-decoration: none;
							display: block;
							&:hover {
								color: #ff2f19;
								background: #1d1d1d url("../images/bg_leftnav_li.png") repeat-y 100% 100%;
							}
							&.active {
								color: #ff2f19;
								background: #1d1d1d url("../images/bg_leftnav_li.png") repeat-y 100% 100%;
							}
						}
					}
				}

				.download {
					margin: em(50px) em(35px) 0 em(25px);
					& > .button {
						border-radius: 0;
					}
					& > .fork-github {
						text-align: center;
						font-size: em(12px);
						padding: rem(15px) 0 0 0;
						& > a {
							text-decoration: none;
							color: #4f4f4f;
							&:hover {
								color: #fff;
							}
						}
					}
				}
			}
			& > .inlinemenu-view {
				padding: em(13px);
				display: block;
				cursor: pointer;
				i {
					font-size: 28px;
				}
			}
		}
		&.content {
			margin: 0 0 0 em(50px);
		}
	}

	.doc-box {
		& > .row {
			padding: em(40px) em(20px) em(40px) em(20px);
			& > .col {
				padding: 0;
			}
		}
	}

	#iconic-header {
		background: #19a5b9;
		color: #fff;
		h1 {
			color: #fff;
			margin: 0 0 em(5px) 0;
		}
		h3 {
			color: #b5f4fd;
			font-weight: 400;
			font-size: em(22px);
			margin: 0 0 em(30px) 0;
		}
		p {
			font-weight: 300;
		}
		.btn {
			margin: em(20px) 0 0 0;
			@include button($border: 1px solid #fff, $border-radius: 0,$font-size: em(14px), $font-weight: 600, $background: #fff, $text-color: #1d1d1d, 
				$height: rem(40px), $width: rem(210px), $darken-text: true);	
		}
	}

	#iconic-docs {
		h2 {
			margin: 0 0 rem(20px) 0;
			padding: 0 0 rem(20px) 0;
			border-bottom: 3px solid #19a5b9;
		}
	}


	#the-end {
		background: #d52f19 url("../images/bg_the-end.jpg");
		color: #fff;
		.row {
			.col {
				h4 {
					color: #fff;
					font-size: em(42px);
					margin: 0 0 rem(20px) 0;
				}
				.subheader {
					color: #f4f4f4;
					padding: 0 0 em(20px) 0;
				}
				.btn {
					&.submit-ideas {
					@include button($border: 1px solid #fff, $border-radius: 0,$font-size: em(16px), $background: none, $text-color: #fff, 
										$height: rem(45px), $width: rem(290px), $darken-text: true);	
					}
				}
			}
		}
	}

	.footer {
		background: #1d1d1d;
		color: #4e4e4e;
		padding: em(70px) 0 em(80px) em(50px);
		h5 {
			font-weight: 400;
			font-size: em(14px);
			color: #4e4e4e;
			margin: 0;
			padding: 0;
		}
		.lastcommit {
			.feed {
				color: $master-color;
				font-weight: bold;
				padding: 0 0 em(30px) 0;
				margin: 0 0 em(30px) 0;
				background: url("../images/bg_footer_bar.png") no-repeat 0 100%;
			}
		}
		.followus {
			ul {
				@include inline-list($item-margin: em(2px), $color: #fff, $font-size: em(16px), $link-color: $master-color, $font-weight: 600);
				margin: 0;
			}
			padding: 0 0 rem(30px) 0;
			background: url("../images/bg_footer_bar.png") no-repeat 0 100%;
		}
		.copyright {
			font-size: em(14px);
			padding: em(40px) 0 em(35px) 0; 
		}
		.linkbuilding {
			ul {
				@include inline-list($item-margin: em(2px), $color: #fff, $font-size: em(14px), $link-color: $master-color, $font-weight: 300);
			}
		}
	}

}

@media #{$small} {
	.doc-box {
		& > .row {
			padding: em(50px) em(30px) em(50px) em(30px);
		}
	}
}

@media #{$medium} {
	.doc-box {
		& > .row {
			padding: em(60px) em(50px) em(60px) em(50px);
		}
	}
	.teaser {
		.medium-8 {
			padding: 0 0 0 em(50px) !important;
		}
	}
}

@media #{$large} {
	.sidebar {
		&.menu {
			width: em(260px);
			& > .inlinemenu-wrapper {
				display: block;
			}
			& > .inlinemenu-view {
				display: none;
			}
		}
		&.content {
			margin: 0 0 0 em(260px);
		}
	}
}